.cartPage {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

/* BREADCRUMBS */
.breadcrumbs {
  font-size: 14px;
  color: #8b8b8b;
  margin-bottom: 24px;
}

.breadcrumbs a {
  color: #0d50ff;
  text-decoration: none;
}

/* TITLE */
.cartPage h1 {
  font-size: 48px;
  margin-bottom: 40px;
}

/* EMPTY */
.empty {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty a {
  color: #0d50ff;
  text-decoration: none;
}

/* CONTENT */
.cartContent {
  display: flex;
  gap: 40px;
}

/* ITEMS */
.items {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: grid;
  grid-template-columns: 120px 1fr auto auto;
  gap: 20px;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
}

.cartItem img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info a {
  text-decoration: none;
  color: #282828;
  font-weight: 500;
}

/* QUANTITY */
.quantity {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity button {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

/* PRICE */
.price {
  font-size: 20px;
  font-weight: 700;
}

/* REMOVE */
.remove {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* ORDER */
.order {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 24px;
  height: fit-content;
}

.order h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.total {
  font-size: 20px;
  margin-bottom: 20px;
}

.total span {
  font-weight: 700;
}

.order form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order input {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0 16px;
}

.order button {
  height: 56px;
  border-radius: 8px;
  background: #0d50ff;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.order button:hover {
  background: #000;
}

/* MODAL */
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
 width: 548;
height: 236;
background-color: blue;
color: white;
opacity: 1;
top: 316px;
left: 446px;
gap: 16px;
border-radius: radius big;
padding: 32px;

}

.modal h2 {
  width: 424px;
height: 172px;
opacity: 1;
gap: 24px;
font-size: 46px;
}

.modal p {
  font-family: Montserrat;
font-weight: 600px;
font-style: SemiBold;
font-size: 20px;
line-height: 110.00000000000001%;
letter-spacing: 0%;

}

.close {

  background: none;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
}

/* ADAPTIVE */
@media (max-width: 900px) {
  .cartContent {
    flex-direction: column;
  }
}
