

.home {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

/* HERO */
.hero {
  min-height: 600px;
  background: url('/images/hero.jpg') center / cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.heroContent {
  position: relative;
  padding: 0 40px;
  max-width: 700px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heroContent h1 {
  font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 64px;

line-height: 110.00000000000001%;
letter-spacing: 0%;
text-align: center;

}

.heroBtn {
  width: fit-content;
  padding: 16px 32px;
  background: #0d50ff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
}

/* SECTION */
.section {
  padding: 0 40px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.sectionHeader h2 {
  font-size: 40px;
}

.sectionHeader a {
  color: #0d50ff;
  text-decoration: none;
}

/* CATEGORIES */
.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.categoryCard {
  text-decoration: none;
  color: #282828;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categoryCard img {
  width: 100%;
  aspect-ratio: 316 / 392;
  object-fit: cover;
  border-radius: 12px;
}

.categoryCard p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

/* DISCOUNT */
.discount {
  background: #0d50ff;
  padding: 70px 70px;
}

.discountContent {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  align-items: center;
}

.discountText {
  font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 64px;
color: aliceblue;
line-height: 110.00000000000001%;
letter-spacing: 0%;
text-align: center;

}

.discountText img {
  width: 783px;
height: 360px;

opacity: 1;

}


.discountText h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.discountForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.discountForm input {
width: 516;
height: 58;
opacity: 1;
gap: 10px;
border-radius: radius small;
padding-top: 16px;
padding-right: 32px;
padding-bottom: 16px;
padding-left: 32px;
border-width: 1px;


}

.discountForm button {
width: 516;
height: 58;
background-color: white;
opacity: 1;
gap: 10px;
border-radius: radius small;
padding-top: 16px;
padding-right: 32px;
padding-bottom: 16px;
padding-left: 32px;


}

/* SALE */
.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.productCard {
  text-decoration: none;
  color: #282828;
}

.productImage {
  position: relative;
}

.productImage img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.discountBadge {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #0d50ff;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: 600;
}

.prices {
  display: flex;
  gap: 12px;
  align-items: center;
}

.newPrice {
  font-size: 24px;
  font-weight: 700;
}

.oldPrice {
  font-size: 18px;
  color: #8b8b8b;
  text-decoration: line-through;
}
