.productPage {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

/* BREADCRUMBS */
.breadcrumbs {
  font-size: 14px;
  color: #8b8b8b;
  margin-bottom: 24px;
}

.breadcrumbs a {
  color: #0d50ff;
  text-decoration: none;
}

/* CONTENT */
.productContent {
  display: flex;
  gap: 40px;
}

/* IMAGE */
.imageWrap {
  position: relative;
  flex: 1;
}

.imageWrap img {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.discount {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #0d50ff;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}

/* INFO */
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info h1 {
  font-size: 40px;
}

/* PRICE */
.prices {
  display: flex;
  gap: 16px;
  align-items: center;
}

.currentPrice {
  font-size: 32px;
  font-weight: 700;
}

.oldPrice {
  font-size: 24px;
  color: #8b8b8b;
  text-decoration: line-through;
}

/* QUANTITY */
.quantity {
  display: flex;
  align-items: center;
  gap: 16px;
}

.quantity button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  font-size: 20px;
  cursor: pointer;
}

.quantity span {
  font-size: 18px;
  width: 30px;
  text-align: center;
}

/* BUTTON */
.addButton {
  width: fit-content;
  padding: 16px 32px;
  background: #0d50ff;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.addButton:hover {
  background: #000;
}

/* DESCRIPTION */
.description {
  font-size: 16px;
  line-height: 1.5;
}

/* ADAPTIVE */
@media (max-width: 900px) {
  .productContent {
    flex-direction: column;
  }

  .imageWrap img {
    max-width: 100%;
  }
}
