.wrapper {
  background: linear-gradient(90deg, #0d50ff, #1e3fdc);
  border-radius: 12px;
  padding: 40px;
  display: flex;
  gap: 40px;
  color: white;
}

.left {
  flex: 1;
}

.left img {
  max-width: 100%;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: transparent;
  color: white;
}

.form button {
  padding: 16px;
  background: white;
  color: #0d50ff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
