*{
    margin: 0;
    padding: 0;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  border-bottom: 1px solid #e5e5e5;
}

.logo img,
.cart img {
  width: 24px;
  height: 24px;
}

.nav {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
