*{
    margin: 0;
    padding: 0;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  border-bottom: 1px solid #e5e5e5;
}

.logo img{
  width: 70px;
  height: 70px;
object-fit: contain;
}

.cart img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}


.nav {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
