.section {
  max-width: 1360px;
  margin: 40px auto;
  padding: 0 40px;
}

.title {
  margin-bottom: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.loading {
  text-align: center;
  margin: 100px 0;
}
